<Configuration>
	<General>
		<Setting name="SelectedTest" value="Argentum20Server_SimplyVBUnitTesting" type="String"/>
		<Setting name="Categories.Enabled" value="False" type="Boolean"/>
		<Setting name="Categories.ExcludeSelected" value="False" type="Boolean"/>
	</General>
	<Form>
		<Setting name="WindowState" value="0" type="Integer"/>
		<Setting name="Left" value="1800" type="Single"/>
		<Setting name="Top" value="825" type="Single"/>
		<Setting name="Width" value="9690" type="Single"/>
		<Setting name="Height" value="6120" type="Single"/>
		<Setting name="SplitterPosition" value="3480" type="Long"/>
	</Form>
	<TreeViewExpanded/>
	<Categories.Selected/>
</Configuration>
